
/*CSS RESET*/
*{
	box-sizing:border-box;
}

/* To style h1 header */
h1{
	font-size:175%;
	font-family: consolas;
	color: green;
	text-align:center;
	margin-bottom:15px;
}

.row{
	width:100%;
}

#p1{
	color:red;
	background-color:green;
	height:200px;
	width:90%;
	position: relative;
	 

	margin:0px 0px 30px 0px;
	border:1px solid black;
	padding:40px 20px 20px;
}

#p2{
	color:red;
	background-color:yellow;
	height:200px;
	width:90%;
	margin:0px 0px 30px 0px;
	border:1px solid black;
	padding:40px 20px 20px;

}

#p3{
	color:red;
	background-color:pink;
	height:200px;
	width:90%;
	margin:0px 0px 30px 0px;
	border:1px solid black;
	border:1px solid black;
	padding:40px 20px 20px;
}



/*Media queries for making the page responsive*/
@media (min-width:992px){
	.col-lg1,.col-lg2,.col-lg3,.col-lg4,.col-lg5,.col-lg6,.col-lg7,
	.col-lg8,.col-lg9,.col-lg10,.col-lg11,.col-lg12{
		float:left;
		

	}
	.col-lg1{
		width:8.33%;
	}
	.col-lg2{
		width:16.66%;
	}
	.col-lg3{
		width:25%;
	}
	.col-lg4{
		width:33.33%;
	}
	.col-lg5{
		width:41.66%;
	}
	.col-lg6{
		width:50%;
	}
	.col-lg7{
		width:58.33%;
	}
	.col-lg8{
		width:66.66%;
	}

	.col-lg9{
		width:75%;
	}
	.col-lg10{
		width:83.33%;
	}
	.col-lg11{
		width:91.66%;
	}
	.col-lg12{
		width:100%;
	}
}

@media (min-width:768px)and (max-width:991px){
	.col-md1,.col-md2,.col-md3,.col-md4,.col-md5,.col-md6,.col-md7,.col-md8,.col-md9,.col-md10,
	.col-md11,.col-md12{
		float:left;
		
	}

	.col-md1{
		width:8.33%;
	}
	.col-md2{
		width:16.66%;
	}
	.col-md3{
		width:25%;
	}
	.col-md4{
		width:33.33%;
	}
	.col-md5{
		width:41.66%;
	}
	.col-md6{
		width:50%;
	}
	.col-md7{
		width:58.33%;
	}
	.col-md8{
		width:66.66%;
	}
	.col-md9{
		width:75%;
	}
	.col-md10{
		width:83.33%;
	}
	.col-md11{
		width:91.66%;

	}
	.col-md12{
		width:105.7%;

	}

}
@media(max-width:767px){
	.col-sm1,.col-sm2,.col-sm3,.col-sm4,.col-sm5,.col-sm6,.col-sm7,.col-sm8
	.col-sm9,.col-sm9,.col-sm10,.col-sm11,.col-sm12{
		float:left;
	

	}
	.col-sm1{
		width:8.33%;
	}
	.col-sm2{
		width:16.66%;
	}
	.col-sm3{
		width:25%;
	}
	.col-sm4{
		width:33.33%;
	}
	.col-sm5{
		width:41.66%;
	}
	.col-sm6{
		width:50%;
	}
	.col-sm7{
		width:58.33%;
	}
	.col-sm8{
		width:66.66%;
	}
	.col-sm9{
		width:75%;
	}
	.col-sm10{
		width: 83.33%
	}
	.col-sm11{
		width: 91.66%
	}
	.col-sm12{
		width:100%;
	}

}
.box1{
	position:relative;
}
.box2{
	position:absolute;
	height:40px;
	width:15%;
	top:0px;
	bottom:0px;
	left:75%;
	margin:0px 0px 0px;
	border:1px solid black;
	background-color: red;
	padding:3px 3px 3px;
}
