
body{
	font-family: 'Oxygen', sans-serif;
	
	
}

#header-nav{
	background-color:maroon;
}
div>h1{
	color:yellow;
	font-weight:bold;
	line-height:-30px;
	
}
div>h2{
	font-weight:bold;
	color:green;
	margin-bottom:40px;
	text-shadow:1px 1px 1px;
}
h1>span{
	width:100%;
}
.box{
	height: 1300px;
	width:95%;
	background-color:rgb(255,255,112);
	margin:auto ;
	margin-right:auto;
	margin-bottom:50px;
	border:solid black 2px;

}
.row{
	width:100%;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -30px;
}

.heading {
	color:yellow;
}
.navbar-nav {
	background-color: grey;


}
#collapsable-nav {
	background-color: grey;

}

.nav {
	text-align:center;
	color:blue;
	font-weight: bold;
	font-size: 20px;
}
li>a>span{
	color:blue;
}
a>span:hover {
color:white;
}
div>h3{
	font-weight:bold;
	color:black;
	font-style: italic;
	padding-bottom: 30px;
}
div>div{
	overflow:auto;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: auto;
}
.topper {
	text-align: center;
	color:blue;
	font-size: 20px;
}